<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<div th:fragment="header">
    <div id="index-header">
        <template>
            <el-container>
                <el-header>
                    <div class="header-logo">
                        <a href="/">wiblog </a>
                    </div>

                    <div class="user-center">
                        <ul class="unlogin" v-show="!isLogin">
                            <li>
                                <a href="javascript:;" @click="login()" class="nav-unlogin">登录<i></i></a>
                                <a href="/register">注册</a>
                            </li>
                        </ul>
                    </div>

                    <div class="user-center" v-show="isLogin"
                         style="margin-left: 23px;margin-top: 14px;"
                         @mouseover="showUserMessage = true"
                         @mouseout="showUserMessage = false">
                        <el-avatar :size="30" :src="avatarImg"
                                   ></el-avatar>
                        <div class="message-box-user" v-show="showUserMessage">
                            <ul>
                                <li>{{username}}</li>
                                <li @click="gotoUserCenter"><i class="fa fa-user"></i>个人中心</li>
                                <li @click="logout()"><i class="fa fa-power-off" ></i>退出</li>
                            </ul>
                        </div>
                    </div>

                    <div class="user-center" v-show="isLogin"
                         style="margin-left: 40px;margin-top: 20px;"
                         @mouseover="showMessage = true"
                         @mouseout="showMessage = false">
                        <el-badge v-if="messageCount !==0 " :value="messageCount" class="item">
                            <div class="nav-message">
                                <i></i>
                            </div>
                        </el-badge>
                        <div v-else>
                            <div class="nav-message">
                                <i></i>
                            </div>
                        </div>

                        <div class="message-box" v-show="showMessage">
                            <ul>
                                <li>公告<span v-if="typeList[1] !== 0">{{typeList[1]}}</span></li>
                                <li>评论<span v-if="typeList[2] !== 0">{{typeList[2]}}</span></li>
                                <li>点赞<span v-if="typeList[3] !== 0">{{typeList[3]}}</span></li>
                                <li>系统通知<span v-if="typeList[4] !== 0">{{typeList[4]}}</span></li>
                                <li>消息设置</li>
                            </ul>
                        </div>
                    </div>

                    <div class="nav-search">
                        <i @click="search()"></i>
                        <span>
                            <input id="searchInput" v-on:keyup.enter="search()" v-model="searchInput" @blur="blurSearch()" autocomplete="false">
                            <label @click="focusSearch()" v-show="focusSearchLabel !== true">搜索文章</label>
                        </span>

                    </div>

                    <div class="show-search">
                        <ul id="super-menu" class="sf-menu">
                            <li><a href="/" class="current">首页</a></li>
                            <menu-tree v-for="(item,key) in category" :key="key" v-bind:value="item"></menu-tree>
                        </ul>
                    </div>

                </el-header>
            </el-container>
        </template>

    </div>


    <script th:inline="javascript">
        var user = [[${user}]];
        console.log("用户信息");
        console.log(user);
    </script>

</div>
</html>

