<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head th:replace="admin/common/head :: head(~{::title},~{},~{})">
    <title>wiblog - Areo的个人网站</title>
</head>

<body>
<div id="app">
    <div class="manage-title">
        <h2>评论管理</h2>
    </div>
    <div class="manage-main">

        <el-row>
            <el-col :span="24">
                <template>
                    <el-col :span="5" style="margin-bottom: 10px">
                        <el-autocomplete class="inline-input" v-model="title"
                                         :fetch-suggestions="queryTitleSearch"
                                         placeholder="按文章标题查找" @select="selectTitle">
                            <i class="el-icon-search el-input__icon" slot="suffix"
                               @click="titleIconClick"></i>
                        </el-autocomplete>
                    </el-col>

                    <el-col :span="5" style="margin-bottom: 10px">
                        <el-autocomplete class="inline-input" v-model="username"
                                         :fetch-suggestions="queryNameSearch"
                                         placeholder="按用户名查找" @select="selectName">
                            <i class="el-icon-search el-input__icon" slot="suffix"
                               @click="nameIconClick"></i>
                        </el-autocomplete>
                    </el-col>

                    <el-col :span="5" style="margin-bottom: 10px;height: 40px;">
                        <el-checkbox-group v-model="stateList" :min="1" @change="changeState"
                                           style="position: relative;margin: -11px;top: 50%;">
                            <el-checkbox label="正常"></el-checkbox>
                            <el-checkbox label="删除"></el-checkbox>
                        </el-checkbox-group>
                    </el-col>


                    <el-table :data="tableData" style="width: 100%" stripe
                              @sort-change="sortChange">
                        <!---->
                        <el-table-column prop="title" label="所属文章" width="200"></el-table-column>
                        <el-table-column prop="username" label="用户名" width="150"></el-table-column>
                        <el-table-column prop="content" label="评论内容"></el-table-column>
                        <el-table-column prop="likes" label="点赞数" width="100"></el-table-column>
                        <el-table-column prop="replyNum" label="回复数" width="100"></el-table-column>
                        <el-table-column prop="createTime" label="发布时间" width="150"
                                         sortable="custom"
                                         :formatter="dateFormatter"></el-table-column>
                        <el-table-column label="操作" width="130">
                            <template slot-scope="scope">
                                <button type="button" class="el-button el-button--danger el-button--mini is-plain"
                                        @click="handleUpdateState(scope.row)">
                                    <span>{{scope.row.state | opsFormatter}}</span>
                                </button>
                            </template>
                        </el-table-column>

                    </el-table>
                </template>
                <template>
                    <div class="block" style="float: right;">
                        <el-pagination
                                @current-change="handlePageNum"
                                :current-page="pageNum"
                                :page-size="pageSize"
                                layout="total, prev, pager, next, jumper"
                                :total="total"
                                :hide-on-single-page="true">
                        </el-pagination>
                    </div>
                </template>
            </el-col>
        </el-row>


    </div>
</div>

<div th:replace="admin/common/foot :: adminfoot"></div>
<script src="/admin/js/comment.js"></script>
</body>
</html>