<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="adminfoot">
    <script src="/lib/jquery.min.js" type="text/javascript"></script>
    <script src="/lib/vue/vue.min.js" type="text/javascript"></script>
    <script src="/lib/vue/vue-cookies.js" type="text/javascript"></script>
    <script src="/lib/vue/vue-resource.min.js" type="text/javascript"></script>
    <script src="/lib/element-ui/index.js" type="text/javascript"></script>
</div>