<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head th:replace="common/head :: head(~{::title},~{::link},~{})">
    <title>wiblog - Areo的个人网站</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
<div th:include="common/header :: header"></div>
<div>
    <div class="center-white">
        <h1>500</h1>
        <h2>HTTP-Internal Server Error</h2>
        <h3>It looks like something wrong</h3>
        <h3><button type="button" class="btn btn-info" onclick="javascrtpt:window.location.href='/'"> 返回首页 </button></h3>
    </div>
</div>
</body>
<div th:replace="common/foot :: foot"></div>
</html>