<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="common/head :: head(~{::title},~{::link},~{})">
    <title>wiblog - Areo的个人网站</title>
    <link rel="stylesheet" th:href="@{css/loginAndRegister.css}">

</head>
<body>
<div class="bg-img">
</div>
<div th:include="common/header :: header"></div>
<div id="app" class="container">
    <div class="register-label">
        <div class="login-top">
            <div class="login-title-label">
                <span class="login-title">欢迎注册<span>wiblog</span></span>
            </div>
            <template>
                <div class="register-form">
                    <div class="start"><strong>*</strong></div>

                    <el-input class="register-input "
                              placeholder="请输入用户名"
                              @blur="checkName()"
                              @keyup.enter.native="register"
                              v-model.trim="username" autocomplete="off">
                        <i slot="prefix" class="el-input__icon el-icon-user"></i>
                    </el-input>
                    <template v-if="nameTag === '1'">
                        <i class="fa fa-check-circle green pdr" aria-hidden="true"></i>
                    </template>
                    <template v-else-if="nameTag === '2'">
                        <i class="fa fa-exclamation-circle red pdr" aria-hidden="true"></i>
                    </template>
                    <div class="error-msg">{{msgName}}</div>

                    <div class="start"><strong>&nbsp;</strong></div>
                    <el-input class="register-input" placeholder="请输入手机号（选填）"
                              @blur="checkPhone()"
                              @focus="showPhoneCode = true"
                              @keyup.enter.native="register"
                              v-model.trim="phone" autocomplete="off">
                        <i slot="prefix" class="el-input__icon el-icon-mobile-phone"></i>
                    </el-input>
                    <template v-if="phoneCheck === '1'">
                        <i class="fa fa-check-circle green pdr" aria-hidden="true"></i>
                    </template>
                    <template v-else-if="phoneCheck === '2'">
                        <i class="fa fa-exclamation-circle red pdr" aria-hidden="true"></i>
                    </template>
                    <div class="error-msg">{{msgPhone}}</div>

                    <template v-if="showPhoneCode === true">
                        <el-input class="register-input code-input" placeholder="请输入图形验证码"
                                  @blur="checkImgCode()"
                                  @keyup.enter.native="register"
                                  v-model.trim="imgCode" autocomplete="off">
                            <i slot="prefix" class="el-input__icon el-icon-lock"></i>
                        </el-input>
                        <img id="imgCode" class="img-code" src="/getVerify" alt="" @click="getVerify()">
                        <div class="error-msg">{{msgImgCode}}</div>
                        <el-input class="register-input code-input" placeholder="请输入短信验证码"
                                  @blur="checkPhoneCode()"
                                  @keyup.enter.native="register"
                                  v-model.trim="phoneCode" autocomplete="off">
                            <i slot="prefix" class="el-input__icon el-icon-lock"></i>
                        </el-input>
                        <el-button class="code-button" type="primary" v-on:click="getPhoneCode" :disabled="phoneButtonCheck() ">{{phoneCodeBtnMsg}}</el-button>
                        <div class="error-msg">{{msgPhoneCode}}</div>
                    </template>


                    <div class="start"><strong>&nbsp;</strong></div>
                    <el-input class="register-input" placeholder="请输入邮箱（选填）"
                              @blur="checkEmail()"
                              @focus="showEmailCode = true"
                              @keyup.enter.native="register"
                              v-model.trim="email" autocomplete="off">
                        <i slot="prefix" class="el-input__icon fa fa-envelope-o"></i>
                    </el-input>
                    <template v-if="emailTag === '1'">
                        <i class="fa fa-check-circle green pdr" aria-hidden="true"></i>
                    </template>
                    <template v-else-if="emailTag === '2'">
                        <i class="fa fa-exclamation-circle red pdr" aria-hidden="true"></i>
                    </template>
                    <div class="error-msg">{{msgEmail}}</div>

                    <div class="start"><strong>&nbsp;</strong></div>

                    <template v-if="showEmailCode === true">
                        <el-input class="register-input code-input" placeholder="请输入邮箱验证码"
                                  @blur="checkEmailCode()"
                                  @keyup.enter.native="register"
                                  v-model.trim="emailCode" autocomplete="off">
                            <i slot="prefix" class="el-input__icon el-icon-lock"></i>
                        </el-input>
                        <el-button class="code-button" type="primary" @click="getEmailCode()" :disabled="emailButtonCheck()">{{emailCodeBtnMsg}}</el-button>
                        <div class="error-msg">{{msgEmailCode}}</div>
                    </template>


                    <div class="start"><strong>*</strong></div>
                    <el-input class="register-input" placeholder="请输入密码"
                              v-model.trim="password"
                              @keyup.enter.native="register"
                              show-password="true"
                              autocomplete="off">
                        <i slot="prefix" class="el-input__icon el-icon-lock"></i>
                    </el-input>
                    <template v-if="passwordTag === '1'">
                        <i class="fa fa-check-circle green pdr" aria-hidden="true"></i>
                    </template>
                    <template v-else-if="passwordTag === '2'">
                        <i class="fa fa-exclamation-circle red pdr" aria-hidden="true"></i>
                    </template>
                    <div class="error-msg">{{msgPassword}}</div>

                    <div class="start"><strong>*</strong></div>
                    <el-input
                            class="register-input" placeholder="请再次输入密码"
                            @blur="checkConfirmPassword()"
                            v-model.trim="confirmPassword"
                            @keyup.enter.native="register"
                            show-password="true"
                            autocomplete="off">
                        <i slot="prefix" class="el-input__icon el-icon-lock"></i>
                    </el-input>
                    <template v-if="confirmPasswordTag === '1'">
                        <i class="fa fa-check-circle green pdr" aria-hidden="true"></i>
                    </template>
                    <template v-else-if="confirmPasswordTag === '2'">
                        <i class="fa fa-exclamation-circle red pdr" aria-hidden="true"></i>
                    </template>
                    <div class="error-msg">{{msgConfirmPassword}}</div>

                    <div class="register-btn">
                        <el-button type="primary" v-on:click="register">注册</el-button>
                    </div>

                    <div class="hasAccount register-account">
                        <div>已有账号？<a href="/login">点击登录</a></div>
                    </div>
                </div>
            </template>
        </div>

    </div>
</div>
<!--<footer th:include="common/footer :: copyright"></footer>-->


</body>
<div th:replace="common/foot :: foot"></div>
<script th:src="@{js/register.js}"></script>
</html>