<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wiblog.core.mapper.CategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wiblog.core.entity.Category">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="rank" property="rank"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
id, parent_id,name,url,rank
    </sql>

    <update id="updateSubCategory">
        update category as ca
        INNER JOIN category as cb on cb.id = #{id}
        set ca.parent_id = cb.parent_id
        where ca.parent_id = #{id}
    </update>
</mapper>